<%= content_for(:title,  'K-Line | Market') %>
<%= content_for :script do %>
  <%= javascript_include_tag 'echarts.min', 'data-turbolinks-track' => true %>
<% end %>
<section class="content-header">
  <h1>
    <%= @block.market_name %>行情  <small>信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-line-chart"></i>  最新行情 </li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <div class="row">
        <div class="col-sm-2">
          <select onchange="javascript:location.href = this.value;" class="form-control" style="display: inline;">
            <option value="?">请选择块链</option>
            <% Chain.all.each do |item|%>
              <option value="?block=<%= item.id %>&start=<%= params[:start] || Date.current.to_s %>&end=<%= params[:end] || Date.current.to_s %>" <%= 'selected' if params[:block].to_i == item.id || (!params[:block].present? && item.id == Chain.first.id)%>><%= item.market_name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-sm-2">
          <select onchange="javascript:location.href = this.value;" class="form-control" style="display: inline;">
            <option value="">请选择时间跨度</option>
            <option value="?per_page=&block=<%= params[:block] || Chain.first.id %>&start=<%= params[:start] %>&end=<%= params[:end] %>" <%= 'selected' if params[:per_page] == '' %>>1分钟</option>
            <option value="?per_page=15min&block=<%= params[:block] || Chain.first.id %>&start=<%= params[:start] %>&end=<%= params[:end] %>" <%= 'selected' if params[:per_page] == '15min' %>>15分钟</option>
            <option value="?per_page=30min&block=<%= params[:block] || Chain.first.id %>&start=<%= params[:start] %>&end=<%= params[:end] %>" <%= 'selected' if params[:per_page] == '30min' %>>30分钟</option>
            <option value="?per_page=1h&block=<%= params[:block] || Chain.first.id %>&start=<%= params[:start] %>&end=<%= params[:end] %>" <%= 'selected' if params[:per_page] == '1h' %>>1小时</option>
          </select>
        </div>
        <div class="col-sm-8">
          <form action="" method="get">
            <div class="col-sm-3">
              <div class="form-group has-feedback">
                <div class="input-group">
                  <input id='start' type="text" name="start" value="<%= params[:start] || Date.current.to_s %>" class="form-control" placeholder="起始日期">
                  <input type="hidden" name="block" value="<%= params[:block] || Chain.first.id %>">
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group has-feedback">
                <div class="input-group">
                  <input id='end' type="text" name="end" value="<%= params[:end] || Date.current.to_s %>" class="form-control" placeholder="截止日期">
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-flat" type="submit"><i class="fa fa-search-plus"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <div id="myChart" style="width: 100%;height:560px;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById('myChart'));
  option = {
    tooltip: {
      trigger: 'axis',
      position: function (pt) {
        return [pt[0], '10%'];
      }
    },
    title: {
      left: 'center',
      text: '<%= @block.block %> 市场行情',
    },
    toolbox: {
      feature: {
        dataZoom: {
          yAxisIndex: 'none'
        },
        restore: {},
        saveAsImage: {}
      }
    },
    xAxis: {
      type: 'category',
      boundaryGap: false,
      data: <%= raw @date_array %>
    },
    yAxis: {
      type: 'value',
      boundaryGap: [0, '100%']
    },
    dataZoom: [{
      type: 'inside',
      start: 0,
      end: 100
    }, {
      start: 0,
      end: 100,
      handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
      handleSize: '80%',
      handleStyle: {
        color: '#fff',
        shadowBlur: 3,
        shadowColor: 'rgba(0, 0, 0, 0.6)',
        shadowOffsetX: 2,
        shadowOffsetY: 2
      }
    }],
    series: [
    {
      name:'<%= @block.currency %>',
      type:'line',
      smooth:true,
      symbol: 'none',
      sampling: 'average',
      itemStyle: {
        normal: {
          color: 'rgb(255, 70, 131)'
        }
      },
      areaStyle: {
        normal: {
          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
            offset: 0,
            color: 'rgb(255, 158, 68)'
          }, {
            offset: 1,
            color: 'rgb(255, 70, 131)'
          }])
        }
      },
      data: <%= raw @stock_array.compact %>
    }
    ]
  };
  myChart.setOption(option);
</script>